canvas{
	background-color: #111111;
	height: 100%;
}

body{
	background-color: #111111;
}

.Erase{
	opacity: 0;
}

canvas{
	z-index: -1;
}

h6{
	color: #eeeeee;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	position: absolute;
	z-index: 9999;
	user-select: none;
}

h6#score{
	position: absolute;
	top: 20px;
	left: 20px;
}

h6#highscore{
	position: absolute;
	top: 20px;
	right: 20px;
}

h6#pause{
	position: absolute;
	top: 50px;
	right: 20px;
	color: #d4502f;
	font-size: 15px;
	font-style: italic;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h6#onStart{
	position: absolute;
	font-size: 15px;
	bottom: 20px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	width: 115px;
}

h6#over{
	font-size: 50px;
	color: #eeeeee;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	position: relative;
	top: 200px;
}

h6#finScore{
	color: #3F818D;
	text-align: center;
	position: relative;
	top:300px;
}

h6#high{
	color: #98D25E;
	text-align: center;
	position: relative;
	top:340px;
}

h6#click{
	font-size: 15px;
	text-align: center;
	position: relative;
	top:540px;
}